
@keyframes example {
    0% { transform: translateY(-2px)  }
    50% { transform: translateY(8px) }
    100% { transform: translateY(-2px) }
}


.category-node{
    position: relative;
    background: #9CA8B3;
    color: #FFF;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.center-node{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.default-edge{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



p{
    margin-top: 5px ;
}