.NavBarItems {
    background: rgba(6, 4, 5, 1);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(2,auto);
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover {
    background-color: #303030;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}